<!DOCTYPE html>
<html>
  <head>
    <title>registro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>registro de contactos </h1>
    <form method="get" action="">

<input type = "text" id="txtcon" name "txtcon">
<input type = "button" id="btncon" name "btncon" value="registroContacto">
</form>
 </body>
</html>